.chapter-card {
  grid-column: span 12 / span 12;
  display: flex;
  flex-direction: column;
  padding-top: 1.6rem;

  @media screen and (min-width: 768px) {
    grid-column: span 4 / span 4;
    padding-top: 0;
  }

  &-title {
    color: $heading;
    font-family: $secondaryFont;
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: 0.5rem;
  }

  &-input {
    font-size: 0.8rem;
    color: $heading;
    opacity: 0.7;
    margin-bottom: 1rem;
  }

  &-btn {
    background-color: $logo;
    width: 55%;
    padding: 0.4rem 0;
    font-family: $secondaryFont;
    font-size: 0.7rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $white;
  }
}
